lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# --------------------
# IntelliJ Files
# --------------------
*.iml
*.ipr
*.iws
.idea/


pids
logs
results

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/

#--------------- Angular
public/libs

# --------------------
# SASS Files
# --------------------
.sass-cache/

# --------------------
# Bower Files
# --------------------
.bower-*/
bower_components
