body {
  padding-top: 10px;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.top5 {
  margin-top: 5px;
}
.top7 {
  margin-top: 7px;
}
.top10 {
  margin-top: 10px;
}
.top15 {
  margin-top: 15px;
}
.top17 {
  margin-top: 17px;
}
.top30 {
  margin-top: 30px;
}
.top50 {
  margin-top: 50px;
}
.row-shadowed {
  background: #add8e6;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  padding: 5px;
  border-radius: 10px;
}
.row + .row {
  border-top: 0;
}
.toast-success {
  background-color: #13987e;
}
.toast-error {
  background-color: #f08080;
}
.toast-info {
  background-color: #66afe9;
}
.toast-warning {
  background-color: #d58512;
}
.thankyou {
  position: absolute;
  margin-top: 35px;
  margin-left: 10px;
  font-size: 30px;
  color: #0dad58;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  -ms-transform: rotate(-7deg) /* IE 9 */;
  -webkit-transform: rotate(-7deg) /* Chrome, Safari, Opera */;
  transform: rotate(-7deg);
}
