<div class="container">
    <a ui-sref="wuensche" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Zurück</a>

    <h1>{{wish.title}}</h1>
    <div class="row">
        <div class="col-md-6"><h3 ng-show="wish.erfuellt">Bereits efüllt!</h3>
            <h3>Preis {{wish.preis | currency}}</h3></div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Tags</div>
                <div class="panel-body">
                    body
                    <!--<div ng-repeat="tag in course.tags">{{tag}}</div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="well" ng-hide="wish.erfuellt">
        <form name="signupForm" class="form-horizontal">
            <fieldset>
                <legend>Deine Angaben:</legend>
                <div class="form-group"><label for="email" class="col-md-2 control-label">Email</label>

                    <div class="col-md-10"><input name="email" id="email" type="email" placeholder="Email"
                                                  ng-model="email"
                                                  required="required" class="form-control"/></div>
                </div>
                <div class="form-group"><label for="name" class="col-md-2 control-label">Name</label>

                    <div class="col-md-10"><input name="name" id="name" type="text" placeholder="Name"
                                                  ng-model="name" required="required" class="form-control"/></div>
                </div>
                <div class="form-group"><label for="wert" class="col-md-2 control-label">Wert</label>

                    <div class="col-md-10"><input name="wert" id="wert" type="number" step="0.05" min="0"
                                                  placeholder="0.0" ng-model="wert"
                                                  required="required" class="form-control"/></div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Art der Beteiligung<br />&nbsp;</label>
                    <div class="col-md-10">
                        <label>
                            <input type="radio" name="uebermittlung" required="required" ng-model="uebermittlung"  value="ueberw">
                            Überweisung
                        </label><br/>
                        <label>
                            <input type="radio" name="uebermittlung" id="uebermittlung" ng-model="uebermittlung" value="umschlag">
                            Couvert (am Fest)
                        </label></div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="pull-right">
                            <button ng-click="schenke()" ng-disabled="signupForm.$invalid" class="btn btn-primary">
                                Abschicken
                            </button>
                            &nbsp;<a href="/" class="btn btn-default">Cancel</a></div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>